.list {list-style: none;}

.link {text-decoration: none;}

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    /* identical to box height */
    letter-spacing: 0.03em;
    
    color: #000000;}

.link-nav {
font-family:'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color:#212121;}

.link-studio:hover,
.link-studio:focus {color:#2196F3;}

.header-mail,
.header-tel {
font-family:'Roboto',
sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color:#757575;}

.header-mail:hover,
.header-mail:focus {color: #2196F3;}




